@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body { @apply h-full overflow-hidden; }

div.multiselect > ul.options > li {
  /* dropdown list items */
	color: #302E57 !important;
}